<!--Modal Approved -->
<div class="ui modal small modal-resolution-approve">
    <a data-remodal-action="close" class="close"><i class="icon-times"></i></a>
    <div class="header">Returned Item Pickup</div>
    <div class="content">
        <div class="row">
            <div class="form">
              <div class="row">
                <div class="col-md-6">
                    <label>Schedule</label>
                    <input type="text" class="form-ui datetimepicker" placeholder="02/29/16">
                </div>
                <div class="col-md-6">
                    <label>Day Hour</label>
                    <input type="text" class="form-ui" placeholder="eq. 1 Am">
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="form">
            <label>Why?</label>
            <textarea class="form-ui"></textarea>
          </div>
        </div>
    </div>
    <div class="actions align-right">
        <div class="pull-left checkbox">
          <label><input type="checkbox"> <strong>No need to return the item.</strong></label>
        </div>
        <div class="button blue close">Submit</div>
        <div class="button cancel close">Back</div>
    </div>
</div>


<!--Modal Reject -->
<div class="ui modal small modal-resolution-reject">
    <a data-remodal-action="close" class="close"><i class="icon-times"></i></a>
    <div class="header">Reason of Rejection</div>
    <div class="content">
        <div class="row">
            <div class="box-upper">
                <div class="col-md-12">
                    <div class="form">
                        <label>Why?</label>
                        <textarea class="form-ui"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions align-right">
        <div class="button blue close">Submit</div>
        <div class="button cancel close">Back</div>
    </div>
</div>
