<!--Modal Alert Type One-->
<div class="ui modal small modal-alert-success">
    <a data-remodal-action="close" class="close"><i class="icon-times"></i></a>
    <div class="content align-center">
        <h3 class="ui header">
            <i class="icon icon-check"></i>
                <div class="content">
                    Successfully Done
                <div class="sub-header">Action has been completed successfully.</div>
            </div>
        </h3>
    </div>
</div>

<!--Modal Alert Type Two-->
<div class="ui modal small modal-alert-error">
    <a data-remodal-action="close" class="close"><i class="icon-times"></i></a>
    <div class="content align-center">
        <h3 class="ui header">
            <i class="icon icon-times"></i>
                <div class="content">
                    Failed
                <div class="sub-header">Ooops, looks like something went wrong. Please try again later.</div>
            </div>
        </h3>
    </div>
</div>
