<!-- Modal Buyer Refund Type One -->
<div class="ui modal small modal-box modal-category-listing-one">
    <a class="close"><i class="icon-times"></i></a>
    <div class="header">Edit/Add Category</div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="form">
            <label>Name</label>
            <input type="text" class="form-ui" placeholder="Placeholder">
          </div>
          <div class="form">
            <label>Description</label>
            <input type="text" class="form-ui" placeholder="Placeholder">
          </div>
          <div class="form">
            <label>Keyword</label>
            <input type="text" class="form-ui" placeholder="Placeholder">
          </div>
          <div class="form">
            <label>Sort Order</label>
            <input type="text" class="form-ui" placeholder="Placeholder">
          </div>
        </div>
      </div>
    </div>
    <div class="actions align-right">
      <div class="button confirm" data-remodal-action="close">Save</div>
      <div class="button cancel" data-remodal-action="close">Cancel</div>
    </div>
</div>
