<!-- Modal Order Type One-->
<div class="ui modal large modal-box modal-transaction-flagged">
    <a class="close"><i class="icon-times"></i></a>
    <div class="header">Order Details</div>
    <div class="content divide">
      <div class="row">
        <div class="group form">
          <div class="message-box red">
            <p class="title">Flagged Tag Detected!</p>
            <p>This transaction has been flagged for further review.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form">
            <div class="row">
              <div class="col-md-6 md-box zeb">
                {% for i in 1..5 %}
                  <div>
                    <div class="col-md-6"><strong>Sample</strong></div>
                    <div class="col-md-6">KD3-38u123pi</div>
                  </div>
                {% endfor %}
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 md-box">
                <div>
                  <div class="col-md-6">Total Amount</div>
                  <div class="col-md-6 txtright">PHP 999.99</div>
                </div>
                <div>
                  <div class="col-md-6">YiLinker Charge</div>
                  <div class="col-md-6 txtright">PHP 999.99</div>
                </div>
                <div>
                  <div class="col-md-6">Payment Method Charge</div>
                  <div class="col-md-6 txtright">PHP 999.99</div>
                </div>
                <div class="net">
                  <div class="col-md-6">Net</div>
                  <div class="col-md-6 txtright">PHP 999.99</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <table class="table basic table-vertical-align-top">
            <tr>
              <th align="center"></th>
              <th>Order Product ID</th>
              <th>Name</th>
              <th>Seller</th>
              <th>Order Quantity</th>
              <th>Unit Price</th>
              <th>Shipping fee</th>
              <th>Total Amount</th>
              <th>Status</th>
              <th></th>
            </tr>
            {% for i in 1..5 %}
              <tr>
                <td align="center"></td>
                <td>209</td>
                <td>apple</td>
                <td>man of effin steel</td>
                <td>1</td>
                <td>PHP 2,121.00</td>
                <td>PHP 0.00</td>
                <td>PHP 2,121.00</td>
                <td>On-going</td>
                <td>
                  <button class="button tiny default-light modal-order-two-trigger">
                    view
                  </button>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="row">
        <div class="form remarks">
          <div class="csr">
            <p class="person">
              <img src="{{ asset('images/logo-icon.png') }}" border="0">
              <span class="user">
                <strong>Koya Carl</strong>
                customer support representative
              </span>
            </p>
            <p class="words">
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi posuere
              blandit libero ut dictum. Nam id elementum augue. Donec iaculis facilisis magna, non rhoncus neque tincidunt sed.
              Vestibulum malesuada, turpis malesuada feugiat dapibus, nisl ex fringilla arcu, non blandit ligula ligula ac orci.
            </p>
            <p class="time-stamp">Posted on 12:30 pm, July 21, 2014</p>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button class="button gray modal-remarks-approved-trigger">Approve</button>
      <button class="button cancel modal-remarks-reject-trigger">Reject</button>
      <button class="button default-light close">Back</button>
    </div>
</div>

<!--Modal Approval -->
<div data-feed=".order-trigger" class="ui modal small modal-remarks-approved">
    <a data-remodal-action="close" class="close"><i class="icon-times"></i></a>
    <div class="header">Reason of Approval</div>
    <form action="{{ path('yilinker_approve_or_reject_order') }}" method="POST">
        <div class="content">
            <div class="row">
                <div class="box-upper">
                    <div class="col-md-12">
                        <input type="hidden" name="approve" value="1">
                        <input data-fed="data.orderId" name="orderId" type="hidden">
                        <div class="form">
                            <label>Remarks</label>
                            <textarea name="remarks" class="form-ui"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions align-right">
            <button class="button blue" type="submit">Submit</button>
            <div class="button cancel modal-order-one-trigger returnToPreviousModal">Back</div>
        </div>
    </form>
</div>

<!--Modal Approval -->
<div data-feed=".order-trigger" class="ui modal small modal-remarks-reject">
    <a data-remodal-action="close" class="close"><i class="icon-times"></i></a>
    <div class="header">Reason of Rejection</div>
    <form action="{{ path('yilinker_approve_or_reject_order') }}" method="POST">
        <div class="content">
            <div class="row">
                <div class="box-upper">
                    <div class="col-md-12">
                        <input type="hidden" name="approve" value="2">
                        <input data-fed="data.orderId" name="orderId" type="hidden">
                        <div class="form">
                            <label>Remarks</label>
                            <textarea name="remarks" class="form-ui"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions align-right">
            <button class="button blue" type="submit">Submit</button>
            <div class="button cancel modal-order-one-trigger returnToPreviousModal">Back</div>
        </div>
    </form>
</div>
