<div class="ui tab" data-tab="moda-tab-name2">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="form col-md-12">
          <label class="required">Voucher Code</label>

          {{ form.vars.value ? form.vars.value.voucherCodeTexts|join(', '): '' }}
          
        </div>
      </div>
    </div>
  </div>
</div>
