.featured-home-banner {
  img {
    max-width: 50%;
  }
}

.featured-inner-banner {
  img {
    max-width: 100%;
  }
}

.tabular-inside {
    .tab-header {
        margin-top: 20px;
        margin-bottom: -20px;
    }
}
