
    <ul class="list-unstyled list-all-categories">
        <li>
            <a href="#" data-href="#women-clothing">
                <i class="icon icon-category-women-clothing"></i>
                <span class="name">Women Clothing</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#men-clothing">
                <i class="icon icon-category-men-clothing"></i>
                <span class="name">Men Clothing</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#shoes">
                <i class="icon icon-category-shoes"></i>
                <span class="name">Shoes</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#bags-accessories">
                <i class="icon icon-category-bags-accessories"></i>
                <span class="name">Bags &amp; Accessories</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#electronics">
                <i class="icon icon-category-electronics"></i>
                <span class="name">Electronics</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#kids-babies">
                <i class="icon icon-category-kids-babies"></i>
                <span class="name">Kids &amp; Babies</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#jewellery-accessories">
                <i class="icon icon-category-jewellery-accessories"></i>
                <span class="name">Jewellery &amp; Accessories</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#sports-outdoors">
                <i class="icon icon-category-sports-outdoors"></i>
                <span class="name">Sports &amp; Outdoors</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#health-beauty">
                <i class="icon icon-category-health-beauty"></i>
                <span class="name">Health &amp; Beauty</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
        <li>
            <a href="#" data-href="#home-garden-office">
                <i class="icon icon-category-home-garden-office"></i>
                <span class="name">Home, Garden &amp; Office</span>
                <span class="arrow-go">&rarr;</span>
            </a>
        </li>
    </ul>
