<div class="support-chat-full">
    <div class="trigger-toggle chat-full"></div>
    <iframe src="{{ crmHostName }}" frameborder="0" data-agent-hostname="{{ crmHostName }}"></iframe>
</div>
<div class="support-chat-compressed open">
    <div class="trigger-toggle chat-compressed"></div>
    <iframe src="{{ crmHostName }}/#/init" frameborder="0"></iframe>
</div>