<div class="get-mobile-app-container">
    <div class="header-box-group">
        <div class="header-title">
            <h3 class="ui header side-icon">
                <i class="icon">
                    <img src="{{ asset('images/mobile-app/app-logo-dark.png') }}" alt="Yilinker">
                </i>
                <div class="content">
                    Get our App Now
                    <br/>
                    <div class="sub-header">
                        <a target="_blank" class="button purple small download-app" data-android="{{ android_app_url }}" data-ios="{{ ios_app_url }}">
                            Get App
                        </a>
                        <a target="_blank" style="display:none" class="button purple gray direct-download" data-apk="{{ apk_url }}">
                            Direct Download
                        </a>
                    </div>
                </div>
            </h3>
        </div>
    </div>
    <a href="javascript:void(0);">
        <i class="icon icon-times icon-lg close"></i>
    </a>
</div>
