<!--Start of modal success schedule pickup-->
<div class="ui modal tiny coupled user-card-modal" data-feed=".user-profile-trigger">
    <a class="close"><i class="icon-times"></i></a>
    <div class="content align-center">
        <div class="image-holder">
            <img src="" alt="" class="img-auto-place" data-fed-attributes='{"alt":"data.fullname","src":"data.image"}'>
        </div>
        <h3 class="uppercase semi-bold" data-fed="data.fullname"></h3>
        <h5 class="light" data-fed="data.address"></h5>
    </div>
</div>
<!--End of modal success schedule pickup-->
