<div class="search-header-wrapper">
    <div class="search-header-top-layer">
        <div class="gutter-container">
            <div class="search-header-label category-breadcrumb">
                <ul class="list-unstyled list-category-breadcrumb">
                    <li><a href="{{ path('home_page') }}">Home</a></li><li class="icon-holder"><span class="icon icon-angle-right"></span></li>
                    <li>{% trans %} All Categories {% endtrans %}</li><li class="icon-holder"><span class="icon icon-angle-right"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
