<div class="category-body-wrapper">
    <div class="advertisement">
        <div class="row">
            <div class="col-md-6">
            <a href="{{ banner.image[0].target }}">
                <img src="{{ asset(banner.image[0].imagefile, 'cms') }}" alt="" class="img-responsive">
            </a>
            </div>
            {% if banner.image[1] is defined %}
            <div class="col-md-6">
            <a href="{{ banner.image[1].target }}">
                <img src="{{ asset(banner.image[1].imagefile, 'cms') }}" alt="" class="img-responsive">
            </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
