
<div class="category-body-wrapper">
    <div class="advertisement">
        <div class="row">
            <div class="col-md-12">
            <a href="{{ banner.image[0].target }}">
                <img src="{{ asset(banner.image[0].imagefile, 'cms') }}" alt="" class="img-responsive">
            </a>
            </div>
        </div>
    </div>
</div>
