<div class="perks-container">
    <div class="row no-gutter-mobile">
        <div class="col-sm-3 col-perk-container">
            <h4 class="ui header side-icon">
                <i class="icon icon-truck"></i>
                <div class="content">
                    <span class="uppercase" style="font-size: 0.62em">{% trans %} Free Shipping within Metro Manila {% endtrans %}</span>
                    <div class="sub-header" style="line-height: 1.2">{% trans %} No minimum purchase required {% endtrans %}</div>
                </div>
            </h4>
        </div>
        <div class="col-sm-3 col-perk-container">
            <h4 class="ui header side-icon">
                <i class="icon icon-clock"></i>
                <div class="content">
                    <span class="uppercase">{% trans %} 7-day return {% endtrans %}</span>
                    <div class="sub-header">{% trans %} Money back guaranteed {% endtrans %}</div>
                </div>
            </h4>
        </div>
        <div class="col-sm-3 col-perk-container">
            <h4 class="ui header side-icon">
                <i class="icon icon-contact"></i>
                <div class="content">
                    <span class="uppercase">{% trans %} 24/7 Support {% endtrans %}</span>
                    <div class="sub-header">{% trans %} Online help {% endtrans %}</div>
                </div>
            </h4>
        </div>
        <div class="col-sm-3 col-perk-container">
            <h4 class="ui header side-icon">
                <i class="icon icon-upload"></i>
                <div class="content">
                    <span class="uppercase">{% trans %} Safe Shopping {% endtrans %}</span>
                    <div class="sub-header">{% trans %} Product guaranteed {% endtrans %}</div>
                </div>
            </h4>
        </div>
    </div>
</div>
