<!-- Modal Product Listing -->
<div data-inhouse-product-modal class="ui modal small modal-box">
    <a class="close">
        <i class="icon-times"></i>
    </a>
    <div class="header">
        <h4 id="product-name"></h4>
        <div class="ui tabular menu">
            <div class="item active" data-tab="moda-tab-name">Details</div>
            <div class="item" data-tab="moda-tab-name1">Photos</div>
            <div class="item" data-tab="moda-tab-name2">Combinations</div>
            {# <div class="item" data-tab="moda-tab-name3">Promo Log</div>
            <div class="item" data-tab="moda-tab-name4">Edit Log</div>
            <div class="item" data-tab="moda-tab-name5">Order Log</div> #}
        </div>
    </div>
    <form name="inhouse_product" action=""></form>
    <div class="actions clear">
        <button data-inhouse-form-save class="button update-manufacturer-product">Save</button>
        <button class="button cancel">Cancel</button>
    </div>
</div>
