.button{
    display: inline-block;
    font-family: $font-family-default;
    font-weight: $button-font-weight;
    letter-spacing: $letter-spacing-default;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
    @include button-size(((0.5em+0.17)), ((1em + 0.67)), 1em, $line-height-default, $button-border-radius-default);
    transition: $transition-default;
    cursor: pointer;
    margin-bottom: 3px;
    margin-right: 5px;
    .ui.loader{
        min-height: 1.8em;
        min-width: 2.3em;
    }
}

/*Color Variants*/
.button,
.button.default{
    @include button-variant($button-default-color, $button-default-bg, $button-default-border-color);
    &:hover,
    &:active,
    &:focus{
        color: $brand-gray-lighter;
        background: $button-default-border-color;
        border-color: $button-default-border-color;
        outline: none;
        text-decoration: none;
    }
    border-width: 2px;
}

.button.default-light{
    @include button-variant($button-default-light-color, $button-default-light-bg, $button-default-light-border-color);
    &:hover,
    &:active,
    &:focus{
        color: $brand-gray-lighter;
        background: $button-default-light-border-color;
        border-color: $button-default-light-border-color;
        outline: none;
        text-decoration: none;
    }
}

.button.purple{
    @include button-variant($button-purple-color, $button-purple-bg, $button-purple-border-color);
}

.button.pink{
    @include button-variant($button-pink-color, $button-pink-bg, $button-pink-border-color);
}

.button.blue{
    @include button-variant($button-blue-color, $button-blue-bg, $button-blue-border-color);
}

.button.green{
    @include button-variant($button-green-color, $button-green-bg, $button-green-border-color);
}

.button.yellow{
    @include button-variant($button-yellow-color, $button-yellow-bg, $button-yellow-border-color);
}

.button.red{
    @include button-variant($button-red-color, $button-red-bg, $button-red-border-color);
}

.button.brown{
    @include button-variant($button-brown-color, $button-brown-bg, $button-brown-border-color);
}

.button.basic-purple{
    @include button-basic-variant($button-basic-purple-color, $button-basic-purple-bg, $button-basic-purple-border-color);
}

.button.basic-blue{
    @include button-basic-variant($button-basic-blue-color, $button-basic-blue-bg, $button-basic-blue-border-color);
}

.button.basic-white{
    @include button-basic-variant($button-basic-white-color, $button-basic-white-bg, $button-basic-white-border-color);
    &:hover{
        background: darken($brand-purple, 5%);
        border-color: darken($brand-purple, 5%);
    }
}

.button.basic-default{
    @include button-basic-variant($button-basic-default-color, $button-basic-default-bg, $button-basic-default-border-color);
}

.button.confirm{
    @include button-variant($button-confirm-color, $button-confirm-bg,  $button-confirm-border-color);
}

.button.cancel,
.button.dark-gray{
    @include button-variant($brand-gray-lighter, $brand-gray-base, $brand-gray-base);
}

.button.gray{
    @include button-variant($brand-gray-lighter, $brand-gray-dark, $brand-gray-dark);
}

.button.light-gray{
    @include button-variant($text-color, #f2f2f2, $brand-gray-light);
    border-width: 1px;
}

.button.facebook{
    @include button-variant($button-facebook-color, $button-facebook-bg, $button-facebook-border-color);
}

.button.google-plus{
    @include button-variant($button-google-plus-color, $button-google-plus-bg, $button-google-plus-border-color);
}

.button.twitter{
    @include button-variant($button-twitter-color, $button-twitter-bg, $button-twitter-border-color);
}

/*Disabled state button*/
.button.disabled, .button[disabled], fieldset[disabled] .button, div.disabled{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Button sizes*/
.button.block{
    display: block;
    width: 100%;
    margin-right: 0;
}

.button.large{
    @include button-size($padding-large-vertical, $padding-large-horizontal, 1.25em, $line-height-large, $border-radius-large);
}

.button.fat{
    @include button-size(1.5em, 2em, $font-size-default, $line-height-large, $border-radius-large);
}

.button.small{
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
    font-size: $font-size-small;
    border-radius: $border-radius-small;
}

.button.tiny {
    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small);
    font-size: $font-size-small;
    border-radius: $border-radius-small;
}

.button.wide-fixed{
    min-width: 210px;
    max-width: 210px;
}

/*Button Rounded Side*/
.button-rounded-side{
    border-radius: $border-radius-100 !important;
}

/*Button with icons*/
.button.labeled-icon{
    position: relative;
    padding-left: 4.07142857em!important;
    padding-right: 1.5em!important;
    overflow: hidden;
    .icon{
        position: absolute;
        border-radius: 0;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        width: 2.57142857em;
        background-color: rgba(0,0,0,.05);
        text-align: center;
        color: '';
        box-shadow: -1px 0 0 0 transparent inset;
        top: 0;
        left: 0;
        padding: (($padding-vertical-default + 2)) 0;
    }

    &.large .icon{
        padding-top: $padding-large-vertical;
    }

    &.small .icon{
        padding-top: $padding-small-vertical;
    }

    &.tiny .icon{
        padding-top: $padding-xs-vertical;
    }
}

.button{
    .loader{
        width: 27px;
        height: 14px;
        margin-bottom: -2px;
    }
}

.two-buttons{
    position: relative;
    display: table;
    width: 100%;
    .button{
        width: 50%;
        float: left;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin: 0;
    }

    .button:first-of-type{
        margin-left: -2px;
        border-radius: 4px 0 0 4px;
    }

    .button:last-of-type{
        margin-left: -2px;
        border-radius: 0 4px 4px 0;
    }
}

.button-see-more {
    background-color: #b4064b;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 7px;
    margin-right: 1.25em;
    max-width: 10em;
    padding: 0.75em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    transition: none;
    &:after {
        content:"";
        border-style: solid;
        border-width: 19px 0 19px 15px;
        border-color: transparent transparent transparent #b4064b;
        height: 0;
        position: absolute;
        right: -15px;
        top: 0;
        width: 0;
    }
    &:hover {
        background-color: #840336;
        color: #fff;

        &:after {
            border-color: transparent transparent transparent #840336;
        }
    }
}
