<div class="overlay rating">
    <div class="content">
        <div class="center">
            <div class="overlay-container">
                <p class="mrg-bt-10 intro-text align-center">Thanks for chatting with us. Would you mind rate us and answer a couple of questions about your experience with the conversation?</p>
                <div>
                    <p class="mrg-bt-10">Was the case resolved during the conversation? </label></p>
                    <div class="mrg-top-5">
                        <input type="radio" name="resolved" id="yesResolve">
                        <label for="yesResolve">Yes</label>
                    </div>
                    <div class="mrg-top-10">
                        <input type="radio" name="resolved" id="noResolve">
                        <label for="noResolve">No</label>
                    </div>
                </div>
                <div>
                    <p class="mrg-bt-10">Was the customer service representative (CSR) act in my best interest.? </label></p>
                    <div class="mrg-top-5">
                        <input type="radio" name="resolved" id="yesResolve">
                        <label for="yesResolve">Yes</label>
                    </div>
                    <div class="mrg-top-10">
                        <input type="radio" name="resolved" id="noResolve">
                        <label for="noResolve">No</label>
                    </div>
                </div>
                <div>
                    <p class="mrg-bt-10">How would you rate our customer service representative (CSR)? </label></p>
                    <div class="mrg-top-5 mrg-bt-10">
                        <div class="csr-rating">
                            <i class="icon icon-star active"></i>
                            <i class="icon icon-star active"></i>
                            <i class="icon icon-star active"></i>
                            <i class="icon icon-star active"></i>
                            <i class="icon icon-star"></i>
                        </div>
                    </div>
                    <button class="btn submit">
                        Submit
                    </button>
                    <div class="align-center mrg-top-5">
                        <span class="underline-link">
                            Go back to chat
                        </span>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="overlay success">
    <div class="content">
        <div class="center">
            <div class="overlay-container">
                <div class="align-center">
                    <i class="icon icon-check icon-4x"></i>
                    <h2>Hooray!</h2>
                    <h4>Your feeback successfully submitted</h4>
                </div>
            </div>
        </div>
    </div>
</div>
