<div class="overlay queue">
    <div class="content">
        <div class="center">
            <div class="overlay-container">
                <div class="align-center">
                    <i class="icon icon-clock icon-4x"></i>
                    <h2>Hold on!</h2>
                    <h4>We're searching for an available customer service representative. Please wait</h4>
                </div>
            </div>
        </div>
    </div>
</div>