<section class="box-section">
    <div class="title-bar">
        <div class="container">
            <span>Accreditations</span>
        </div>
    </div>
    <div class="container">
      <!-- Tools -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
            <div class="tools top form">
              <div class="row">
                <div class="col-md-4">
                  <div class="search options">
                    <input type="text" class="form-ui" placeholder="Search">
                  </div>
                </div>
                <div class="col-md-1">
                  <button class="options button block cancel">
                    <span class="item-icon icon-search"></span>
                  </button>
                </div>
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                  <div class="options">
                    <select name="" id="" class="form-ui ui search single selection dropdown">
                      <option value="0">Unaccredited</option>
                      <option value="1">Accredited</option>
                      <option value="3">All</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tables -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
              <div class="box-div">

                <div class="row gutters">
                  <div class="col-md-12">
                    <table class="table basic">
                      <tr>
                        <th>Customer ID</th>
                        <th>Owner Name</th>
                        <th>Business Name</th>
                        <th>Status</th>
                        <th>Seller Type</th>
                      </tr>
                      {% for i in 1..3 %}
                        <tr>
                          <td >192</td>
                          <td>Chris Bosh George</td>
                          <td>Burger Machine</td>
                          <td>Unaccredited</td>
                          <td>Seller</td>
                        </tr>
                      {% endfor %}
                      {% for i in 1..3 %}
                        <tr>
                          <td >192</td>
                          <td>Ronald McDonald Duck</td>
                          <td>McDonalds Fastfood</td>
                          <td>Unaccredited</td>
                          <td>Mechant</td>
                        </tr>
                      {% endfor %}
                      {% for i in 1..3 %}
                        <tr>
                          <td >192</td>
                          <td>Casper Daprenlygosh</td>
                          <td>Haus of Honor</td>
                          <td>Unaccredited</td>
                          <td>Hybrid</td>
                        </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>

              </div>
            </div>

        </div>
      </div>

      <!-- Bottom Tools -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
            <div class="box-blank">
                <div class="row">
                  <div class="col-md-12">
                    {{ include('YilinkerCoreBundle:Default:pagination.html.twig', {lastPage: 30}) }}
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
