<section class="box-section">
    <div class="title-bar">
        <div class="container">
            <span>Category Listings</span>
        </div>
    </div>
    <div class="container">
      <!-- Tools -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
            <div class="tools top form">
              <div class="row">
                <div class="col-md-2">
                  <div class="options">
                    <select name="" id="" class="form-ui ui search single selection dropdown">
                      <option value="">Main Category</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="options">
                    <select name="" id="" class="form-ui ui search single selection dropdown">
                      <option value="">Sub Category</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                  <div class="options">
                    <div class="labeled-input right">
                      <input type="text" class="form-ui" placeholder="Search">
                      <div class="label black"><i class="item-icon icon-search"></i></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="options">
                    <select name="" id="" class="form-ui ui search single selection dropdown">
                      <option value="">Filters</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tables -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
              <div class="box-div">
                <div class="row gutters">
                  <div class="col-md-12">
                    <table class="table basic table-vertical-align-top">
                      <tr>
                        <th></th>
                        <th>Date Created</th>
                        <th>Sort Order</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Keyword</th>
                        <th>Slug</th>
                      </tr>
                      {% for i in 1..10 %}
                        <tr>
                          <td>
                            <button class="options button cancel small modal-category-listing-one-trigger">
                              <i class="icons icon-categories"></i>
                            </button>
                          </td>
                          <td>10-24-1991 06:30:05</td>
                          <td>0</td>
                          <td>PROMOTIONAL_ITEMS</td>
                          <td>Special Promotional Items</td>
                          <td>Special Promotional222</td>
                          <td>promo-special</td>
                        </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>

              </div>
            </div>

        </div>
      </div>

      <!-- Bottom Tools -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
            <div class="box-blank">
                <div class="row">
                  <div class="col-md-6">
                    <button class="button blue modal-category-listing-one-trigger">
                      <i class="item-icon icon-plus"></i> Create
                    </button>
                  </div>
                  <div class="col-md-6">
                    <div class="pagination pull-right">
                      <a class="item ">1</a>
                      <div class="disabled item">...</div>
                      <a class="item">10</a>
                      <a class="item">11</a>
                      <a class="item">12</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>


    </div>

</section>
