<section class="box-section">
    <div class="title-bar">
        <div class="container">
            <span>Mobile Management</span>
        </div>
    </div>
    <div class="container">
      <!-- Tables -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
              <div class="box-div">
                <div class="row gutters group-segment">
                  <div class="col-md-4">
                    <h4>Push Notification</h4>
                    <p class="sub-header">
                      Nam metus lectus, bibendum sit amet mauris id, pulvinar aliquet sapien.
                      Maecenas quam neque, scelerisque sit amet elit fermentum, lobortis convallis dui.
                    </p>
                  </div>
                  <div class="col-md-8">
                    <div class="form">
                      <label>Notification Message</label>
                      <input type="text" class="form-ui" placeholder="Placeholder">
                    </div>

                    <div class="form">
                      <button class="button purple modal-alert-success-trigger">
                        Send to all IOS user
                      </button>
                      <button class="button purple modal-alert-success-trigger">
                        Send to all Android user
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
