<section class="box-section">
    <div class="title-bar">
        <div class="container">
            <span>Report Manager</span>
        </div>
    </div>
    <div class="container">
      <!-- Tabs -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
            <div class="ui tabular menu">
              <div class="item active" data-tab="tab-name">Number of uploaded products per account</div>
              <div class="item" data-tab="tab-name2">Monthly Sign Up Statistics</div>
              <div class="item" data-tab="tab-name3">Users w/ &amp; w/out Products</div>
              <div class="item" data-tab="tab-name4">Number of uploaded items per month</div>
              <div class="item" data-tab="tab-name4">Number of items per parent category</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tables -->
      <div class="ui tab row active" data-tab="tab-name">
        <div class="box-upper">
          <div class="col-md-12">
              <div class="box-div">
                <div class="row gutters">
                  <div class="tools top form mrg-bt-20">
                    <div class="row">
                      <div class="col-md-2">
                        <div class="options">
                          <div class="labeled-input">
                            <div class="label line">Show Entries</div>
                            <select name="" id="" class="form-ui ui search single selection dropdown">
                              <option value="0">10</option>
                              <option value="1">20</option>
                              <option value="2">40</option>
                              <option value="3">80</option>
                              <option value="4">160</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-8">
                      </div>
                      <div class="col-md-2">
                        <div class="pull-right">
                          <button class="options button blue">
                            Copy
                          </button>
                          <button class="options button cancel">
                            Excel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row gutters">
                  <div class="col-md-12">
                    <table class="table basic table-vertical-align-top">
                      <tr>
                        <th>Monthsss</th>
                        <th>Sign-up Count</th>
                      </tr>
                      <tr>
                        <td class="heading" colspan="2">
                          <h3>2015</h3>
                        </td>
                      </tr>
                      <tr>
                        <td>January</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>February</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>March</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>April</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>May</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td class="heading" colspan="2">
                          <h3>2016</h3>
                        </td>
                      </tr>
                      <tr>
                        <td>January</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>February</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>March</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>April</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>May</td>
                        <td>29</td>
                      </tr>


                    </table>
                  </div>
                </div>

              </div>
            </div>

        </div>
      </div>
      <div class="ui tab row" data-tab="tab-name2">
        <div class="box-upper">
          <div class="col-md-12">
              <div class="box-div">
                <div class="row gutters">
                  <div class="col-md-12">
                    <table class="table basic table-vertical-align-top">
                      <tr>
                        <th>Month</th>
                        <th>Sign-up Count</th>
                      </tr>
                      <tr>
                        <td class="heading" colspan="2">
                          <h3>2015</h3>
                        </td>
                      </tr>
                      <tr>
                        <td>January</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>February</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>March</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>April</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>May</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td class="heading" colspan="2">
                          <h3>2016</h3>
                        </td>
                      </tr>
                      <tr>
                        <td>January</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>February</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>March</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>April</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>May</td>
                        <td>29</td>
                      </tr>


                    </table>
                  </div>
                </div>

              </div>
            </div>

        </div>
      </div>


      <!-- Bottom Tools -->
      <div class="row">
        <div class="box-upper">
          <div class="col-md-12">
            <div class="box-blank">
                <div class="row">
                  <div class="col-md-6">
                    <p>Showing 1 out 39 Entries</p>
                  </div>
                  <div class="col-md-6">
                    <div class="pagination pull-right">
                      <a class="item ">1</a>
                      <div class="disabled item">...</div>
                      <a class="item">10</a>
                      <a class="item">11</a>
                      <a class="item">12</a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>


    </div>

</section>
