<div class="overall-progress">
  <span class="numbers">{{ progress }}%</span>
  <div class="circle-status" data-value="{{ progress / 100 }}"></div>
  <p class="tracker">{{ progress }} <span>out of</span> 100 <span>requirements are already completed</span></p>
</div>


<div class="faq">
  <div class="title-bar">
    <div class="component-content">
      <span class="uppercase">Frequently Ask Questions</span>
    </div>
  </div>

  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Why do I need to complete the accreditation application?
    </div>
    <div class="content">
      <p class="transition hidden">YiLinker's accreditation process helps to ensure that our Buyers are only offered with the best Sellers on the market.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      I can’t accomplish all the information right now, can I fill them up later?
    </div>
    <div class="content">
      <p>Yes, you can accomplish your accreditation process at a later time. Just simply login to your account again when you're ready to complete your information.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      If I can't complete my accreditation application, can I still sell my items?
    </div>
    <div class="content">
      <p>Unfortunately, you can't. You'll need to pass our accreditation process in order to be eligible to sell your items on YiLinker's platform.</p>
    </div>
  </div>
</div>
{#
<div class="contactus">
  <div class="title-bar">
    <div class="component-content">
      <span class="uppercase">Contact Us</span>
    </div>
  </div>
  <div class="content">
    <p class="hotline"><i class="icon icon-contact"></i> 324-8684</p>
    <p class="email"><i class="icon icon-envelope"></i> <a href="mailto:costumer.support@yilinker.com">costumer.support@yilinker.com</a></p>
    <p class="address"><i class="icon icon-home"></i> 645 Lafayette Street, <br>New Milford, CT 06776</p>
  </div>
</div>
#}
