<div class="faq">
  <div class="title-bar">
    <div class="component-content">
      <span class="uppercase">Frequently Ask Questions</span>
    </div>
  </div>

  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Why do i have to provide my business papers?
    </div>
    <div class="content">
      <p class="transition hidden">This is to ensure that YiLinker is working with only legitimate businesses</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Can i submit my documents at a later time?
    </div>
    <div class="content">
      <p>Yes, you can accomplish your accreditation process at a later time. Just simply login to your account again when you're ready to complete your information.</p>
    </div>
  </div>
</div>
{#
<div class="contactus">
  <div class="title-bar">
    <div class="component-content">
      <span class="uppercase">Contact Us</span>
    </div>
  </div>
  <div class="content">
    <p class="hotline"><i class="icon icon-contact"></i> 324-8684</p>
    <p class="email"><i class="icon icon-envelope"></i> <a href="mailto:costumer.support@yilinker.com">costumer.support@yilinker.com</a></p>
    <p class="address"><i class="icon icon-home"></i> 645 Lafayette Street, <br>New Milford, CT 06776</p>
  </div>
</div>
#}
