{# START MODAL TERMS AND CONDITIONS MERCHANT #}
    <div class="ui modal small" id="modal-terms-conditions">
        <a class="close"><i class="icon-times"></i></a>
        <div class="header">
            <h4 class="no-margin">
                Terms and Conditions for Merchant
            </h4>
        </div>
        <div class="content">
            <div class="box-container-bordered">
                <p>
                    <h4>
                        MERCHANT SERVICES AGREEMENT
                    </h4>
                    This <b>MERCHANT SERVICES AGREEMENT</b> (the “Agreement”) made and entered into, by and between <b>YILINKER INC.</b>, with address at <b>6/F Five E-com, Mall of Asia, Pacific Drive</b>, Pasay City, hereinafter called the “Company”; and you, hereinafter called “Merchant”, collectively referred to as the “Parties”, agree as follows:
                </p>
                <br>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        1. Definitions
                    </h4>
                    <p>
                        The following terms are repeatedly used in this Contract Agreement and will have the corresponding definition as follows:
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>Merchant Agreement</b> - referred to as “Agreement”, with the attached Product Line, General Terms and Conditions for Merchants, and Special Power of Attorney shall mean the agreement between the parties setting forth YiLinker’s obligations of providing services to the Merchant and Merchant’s obligations pertaining to its use of YiLinker’s website.
                           </li>
                           <li>
                               <b>Merchant</b> - the person or entity that will be uploading content in www.yilinker.com pertaining to products and services it will sell to the general public.
                           </li>
                           <li>
                               <b>Site, Website</b> - referred to as "<a href="https:/yilinker.com" target="_blank">www.yilinker.com</a>".
                           </li>
                           <li>
                               <b>Payout</b> - referred to as the sales generated from the total purchases of Merchant’s Products.
                           </li>
                           <li>
                               <b>Products</b> - referred to as the sales generated from the total purchases of Merchant’s Products.
                           </li>
                           <li>
                               <b>Buyer</b> - clients/customers who purchase Products from <a href="https:/yilinker.com" target="_blank">www.yilinker.com</a>
                           </li>
                           <li>
                               <b>Selling Price</b> - Actual final price of the Product/s on the Site
                           </li>
                        </ul>
                        
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        2. Merchant Business Detail
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>2.1</b> In consideration of the mutual promises contained herein, the Merchant agrees to provide the following business details:
                                <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20" style="list-style-type: disc;">
                                    <li>Corporate Name / Business Name</li>
                                    <li>Owner/President</li>
                                    <li>Company Phone Number</li>
                                    <li>Registered Office Address</li>
                                    <li>Business Address (If different to registered office)</li>
                                    <li>Contact Person</li>
                                    <li>Phone and Fax</li>
                                    <li>Email Address</li>
                                    <li>Website/Facebook/Twitter/Instagram</li>
                                </ul>
                           </li>
                           <li>
                               <b>2.2</b> The Merchant shall provide the “Product Information” to buyers who transact on www.yilinker.com.
                           </li>
                           <li>
                               <b>2.3</b> YiLinker shall promote the Merchant’s business on the Website. Merchant Payout will be sent to the bank account provided in the Accreditation Forms
                                <br><br>
                                This entire Agreement is inclusive of this page, the Product Details and the General Terms and Conditions of YiLinker Philippines, and all of its attachments. 
                           </li>
                           <li>
                               <b>2.4</b> The Product Line, General Terms and Conditions, and Special Power of Attorney attached herewith shall form integral parts of this Agreement and shall govern the relationship of the parties in this venture.
                           </li>
                        </ul>
                        
                    </p>
                </div>

                <div class="title-bar" style="margin: 0; margin-bottom: 30px;"></div>
                <h4>
                    MERCHANT SERVICES AGREEMENT
                </h4>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        1. Merchant and Product Accreditation
                    </h4>
                    <p>
                        The Merchant should provide proof of legality of business with a copy of the following documents:
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>1.1</b> DTI or SEC Registration;
                           </li>
                           <li>
                               <b>1.1</b> Business Permit; and
                           </li>
                           <li>
                               <b>1.1</b> Certificate of Registration.
                           </li>
                        </ul>
                        These documents must be attached with the signed Contract Agreement.  The Merchant shall choose which line or lines from his/her Products will be subject for product sampling before it can be uploaded to the Website.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        2. Services
                    </h4>
                    <p>
                        YiLinker shall provide online platform services where the Merchant shall upload content regarding the products and services it will sell to the public. Such online platform services include but is not limited to, the following:
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>2.1</b> Hosting of content on products as well as other relevant information in the Site;
                           </li>
                           <li>
                               <b>2.2</b> At the option of the Merchant and in accordance with the fees, guidelines, and terms and conditions of YiLinker, hosting of a microsite for Merchant’s own store/s;
                           </li>
                           <li>
                               <b>2.3</b> Option for delivery services through YiLinker affiliate companies, with the understanding that Merchant authorizes YiLinker to negotiate and enter into agreements with various fulfillment and logistics companies for and on its behalf; and
                           </li>
                           <li>
                               <b>2.4</b> Online marketing support.
                           </li>
                        </ul>
                        It is furthermore understood that the Merchant agrees to abide with YiLinker’s General Terms and Conditions on the use of the Site, as well as its supplements or amendments issued from time to time.
                        <br/><br/>
                        Merchant further authorizes YiLinker to represent itself in contracts entered into with third parties for the purpose of fulfilling the performance of the sales concluded using the services hereunder.  For this purpose, Merchant shall execute the power of attorney in the form of Attachment 3 hereof.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        3. Product Information/Use of Logo and Trademark
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>3.1</b> The Merchant shall provide Product Information containing correct and complete product description, product image and any other information related to the Product.  The Merchant shall also provide YiLinker with the legal right to use, reproduce and display their logo or trademarks that are related to the product.  This right should include sublicense of the logo or trademark including Product Information to the Affiliates of YiLinker who will consequently sell and promote Merchant’s products through the Vendor’s Page; provided that YiLinker and its Affiliates will not in any way or any means alter or modify Merchant’s logo and trademarks. The Merchant shall grant YiLinker the right to edit or modify when necessary all or some of the Product Information provided such as product description and product image.
                           </li>
                           <li>
                               <b>3.2</b> The Merchant will ensure that the Product Information, the offer and subsequent sales of any of the Products conform to the applicable law (including marking and labeling requirements. Product warranties, specifications, illustrations, samples, and performance standards) and do not contain any sexually explicit, defamatory or obscene materials in all kinds, or any otherwise contain materials or information that would violate relevant/applicable laws.
                           </li>
                           <li>
                               <b>3.3</b> The Merchant hereby undertakes and represents that it has obtained or shall obtain all necessary license, permits or approvals required for the sale of the Products through the Website prior to the listing of the Products on the Website.
                           </li>
                           <li>
                               <b>3.4</b> Merchant shall provide Product Information in the language that YiLinker requested and required by the applicable law.
                           </li>
                           <li>
                               <b>3.5</b> YiLinker may use instruments that allow the Buyer to rate or review the Product from the Merchant. YiLinker shall have the right to make the ratings and reviews available to the public.
                           </li>
                           <li>
                               <b>3.6</b> Notwithstanding any provisions of these Terms, YiLinker will have the right, in its sole discretion, to determine the structure, appearance, design, functionality, and all other aspects of the Website.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        4. Consideration/Product Pricing
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>4.1</b> For services rendered in this Agreement, YiLinker shall have the right to a commission on sales completed/concluded through the use of the Site. The rates of commission shall be in accordance with YiLinker’s prevailing rates at the time of the completion/conclusion of the sale.
                           </li>
                           <li>
                               <b>4.2</b> At its discretion, Yilinker shall dictate the Selling Price of Merchant’s Products for the Site.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        5. Delivery of Products
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>5.1</b> Merchant shall be responsible for delivering their Products to Yilinker Warehouse with exact location at Warehouse D3, JY & Sons Realty, Km. 23, West Service Road, Barangay Cupang, Muntinlupa City, or at some other location at YiLinker’s discretion. 
                           </li>
                           <li>
                               <b>5.2</b> The Merchant shall deliver the Products to YiLinker pre-marked and properly packaged, Proper storage in Yilinker’s storage facility shall be the responsibility of the Merchant.   Yilinker reserves the right to refuse the storage of Products that are improperly packaged and not pre-marked, or those that may contain hazardous materials. 
                           </li>
                           <li>
                               <b>5.3</b> Merchant shall have access to the Products it will store in YiLinker Warehouse from 9:00 a.m. to 5:00 p.m., Mondays to Fridays, except on workdays that are regular holidays or declared as special non-working holidays.
                           </li>
                           <li>
                               <b>5.4</b> Upon delivery, Merchant, should provide Yilinker a Delivery Receipt containing SKU list and quantity.
                           </li>
                           <li>
                               <b>5.5</b> YiLinker is authorized by the Merchant to move the Products at a different location or sub-contract storage and warehousing services in behalf of the Merchant.  
                           </li>
                           <li>
                               <b>5.6</b> It is understood the Products are delivered to YiLinker for delivery or storage services only. The title to the Products remains with the Merchant even when in the custody of Yilinker.
                           </li>
                           <li>
                               <b>5.7</b> The Merchant acknowledges and agrees that YiLinker is merely its agent and that it is still the Merchant who is the owner and primary distributor of the Products. To the extent that YiLinker prepares or signs any delivery, storage/warehousing, or distribution papers or other documentation, the Merchant acknowledges that YiLinker does so in its capacity as the Merchant’s authorized agent. The Merchant further covenants and agrees that YiLinker’s preparation of or signature on the distribution papers or other documentation is based on YiLinker’s reliance on the Merchant’s representations as set forth in the papers of the Merchant or information that the Merchant provides to YiLinker in connection with the Products. 
                           </li>
                           <li>
                               <b>5.8</b> The Merchant holds Yilinker free and harmless from any liability arising from deterioration, damage or loss, while the Products are stored by Yilinker. The Merchant shall secure the required insurance for the Products from reputable companies approved by Yilinker, for this purpose.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        6. Warranties of Merchant
                    </h4>
                    <p>
                        The Merchant warrants to YiLinker that: 
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>6.1</b> it shall not offer, present, or otherwise tender Products except in conformity and full compliance with this Agreement and applicable laws and regulations; 
                           </li>
                           <li>
                               <b>6.2</b> the Products are authorized, fit, and safe for storage, warehousing, distribution, transportation, and/or to be otherwise handled or addressed in accordance with its instructions at the time and in the condition in which they are tendered, and do not contaminate or have the potential to contaminate or otherwise adversely affect the facilities or other goods or items contained in such facilities;
                           </li>
                           <li>
                               <b>6.3</b> the Products offered, presented, or otherwise tendered to YiLInker have been fully released by Merchant’s quality assurance organization for immediate distribution and are in full compliance with all applicable laws and regulations including, without limitation, requirements relating to adulteration, misbranding, premarketing, marketing or distribution authorization, manufacturing, labeling, expiration dating, packaging, registration, import notification, shipping documentation, and are suitable for the intended methods of shipment and conditions of storage and handling utilized by YEI;
                           </li>
                           <li>
                               <b>6.4</b> the instructions and procedures provided by the Merchant to YiLinker (including by reference or adoption) relating to the storage, warehousing, distribution, transportation, or other handling or addressing of the Products are in full compliance with applicable laws and regulations and, if followed by YiLinker, ensures that YiLinker is in compliance with such laws and regulations;
                           </li>
                           <li>
                               <b>6.5</b> any storage or handling equipment, software, packaging, materials, specifications, procedures, and instructions supplied by, or otherwise provided on behalf of, Merchant to YiLInker are qualified or validated for their intended uses and otherwise in full compliance at all times with applicable laws and regulations; 
                           </li>
                           <li>
                               <b>6.6</b> any person to whom, and any address to which, Merchant requests that the Products be sent is authorized (and will remain authorized throughout any period of time necessary for YiLinker to fulfill its obligations under this Agreement) to receive relevant Products; 
                           </li>
                           <li>
                               <b>6.7</b> Merchant has made (and, if necessary, has obtained clearance or approval of), and will maintain and update (as necessary) throughout any period of time necessary for YiLInker to fulfill its obligations under this Agreement, any necessary or appropriate submission or notification to third parties (including, without limitation, all relevant governmental entities and their contractors). 
                           </li>
                        </ul>
                        YiLinker is not responsible for determining the accuracy of any of Merchant’s representations or warranties and is entitled to rely on such representations as fully complete and accurate; provided, however, that YiLinker may verify the accuracy of any Merchant representation or warranty, and Merchant will support YiLinker’s reasonable verification activity.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        7. Parties to the Sale
                    </h4>
                    <p>
                        The parties acknowledge and agree that the contracts of sale for products sold through the Site are contracts of sale between the Buyer and the Merchant, and that YiLinker is not privy to such contract. As such, YiLinker:
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>7.1</b> Is merely an intermediary through which Merchant displays its products through the Site;
                            </li>
                            <li>
                                <b>7.2</b> Is merely a provider of platform services with which the Merchant uploads content pertaining to its Products;
                            </li>
                            <li>
                                <b>7.3</b> Does not warrant merchantability of Products sold by the Merchant through the Site; and
                            </li>
                            <li>
                                <b>7.4</b> Shall be held free and harmless by the Merchant from any and all liabilities accruing due to the sale of the products and those arising from the contents and product information it uploads in the Site.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        8. Account Access/Product Update
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>8.1</b> YiLinker shall provide Merchant Account Access to a Supplier Tool where Merchant can monitor and manage their Products listed on the Site.  By using the Supplier Tool, Merchant can update information about the Products (stocks remaining, product availability, status and price), monitor orders and completed transactions and review sales.  The Account Access shall be terminated once the Agreement between Yilinker and the Merchant ends.
                            </li>
                            <li>
                                <b>8.2</b> The Merchant is solely responsible for the security of his/her own Account Access. The Merchant should not disclose any information regarding his/her account to third parties, unless otherwise authorized by YiLinker and should be in accordance with the Terms and Conditions set forth in this Agreement. Should Merchant encounters a problem in his/her Account Access, Merchant should immediately notify YiLinker thru email or via 24/7 Customer Service.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        9. Customer Service
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>9.1</b> Yilinker shall provide Merchants and Buyers Customer Service for 24 hours a day, 7 days a week.
                            </li>
                            <li>
                                <b>9.2</b> YiLinker shall refer Merchant-related issues to the Merchant as soon as issues or complaints are received by through the Customer Service hotline.
                            </li>
                            <li>
                                <b>9.3</b> Merchant shall resolve the issues or complaints within 24 hours from referral of YiLinker. The failure of the Merchant to resolve the issue or complaint within the slated time frame shall enable YiLinker to resolve the same through remedies available to it, including refunding the amount paid by the Buyer, as well as paying damages to the aggrieved Buyer.
                            </li>
                            <li>
                                <b>9.4</b> YiLinker shall be solely responsible for order fulfillment, order confirmation and deliveries which should be communicated to the Buyers via email, telephone or SMS. 
                            </li>
                            <li>
                                <b>9.5</b> In any and all instances, YiLinker will have the sole discretion whether the Buyer is entitled for refund, adjustment or replacement for any Product that has been listed for sale.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        10. Payout
                    </h4>
                    <p>
                        YiLinker shall process Payout within seven (7) days after receipt of Invoice by Buyer and Merchant. YiLinker shall deposit the Payout to Merchant’s Bank Account, deducting therefrom YiLinker’s earned commission.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        11. Order Verification
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>11.1</b> YiLinker has the right, in its sole discretion, to withhold for investigation and/or refuse to process any Order or Transaction on the Website.
                            </li>
                            <li>
                                <b>11.2</b> YiLinker, directly or through its affiliates at its own discretion, will bear the risk of credit card fraud (e.g. illegal purchase through credit card theft or unauthorized use of the Buyer credit card information) that may occur in the Transactions.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        10. Payout
                    </h4>
                    <p>
                        YiLinker shall process Payout within seven (7) days after receipt of Invoice by Buyer and Merchant. YiLinker shall deposit the Payout to Merchant’s Bank Account, deducting therefrom YiLinker’s earned commission.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        11. Order Verification
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>11.1</b> YiLinker has the right, in its sole discretion, to withhold for investigation and/or refuse to process any Order or Transaction on the Website.
                            </li>
                            <li>
                                <b>11.2</b> YiLinker, directly or through its affiliates at its own discretion, will bear the risk of credit card fraud (e.g. illegal purchase through credit card theft or unauthorized use of the Buyer credit card information) that may occur in the Transactions.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        12. Product Warranty
                    </h4>
                    <p>
                        The Merchant warrants:
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>a)</b> It abides by any and all applicable laws and statutes pertaining to the products it sells in the Site;
                            </li>
                            <li>
                                <b>b)</b> It shall abide by the terms and conditions, as well as the supplements and amendments thereto, on the use of the Site;
                            </li>
                            <li>
                                <b>c)</b> It shall be solely responsible for providing the Product’s warranty as required by applicable law.
                            </li>

                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        13. Returns/Refund/Replacement
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>13.1</b> Returns may be due to wrong item sent or factory defect and may be subject for either Refund or Replacement.
                            </li>
                            <li>
                                <b>13.2</b> Refund is subject for assessment and investigation by Yilinker.
                            </li>
                            <li>
                                <b>13.3</b> Replacements are allowed in case the Buyer changes his/her mind such as change of size, color or type provided that the value of the Product for replacement has the same value as the replaced Product.  In the event that the replaced Product has higher value than the Product for replacement, Buyer shall pay the price difference.
                            </li>
                            <li>
                                <b>13.4</b> Returns, Refund and Replacements are not applicable to undergarments such as swimsuits, briefs, boxer briefs, boxer shorts, bras, panties, thongs and g-strings.
                            </li>
                            <li>
                                <b>13.5</b> The Merchant shall accept returns, refund or replacements of Products if YiLinker so orders.
                            </li>
                            <li>
                                <b>13.6</b> In case of Refund, Yilinker shall be responsible for crediting back the Product value to the Buyer.  The Merchant, in turn, should reimburse the Product value to YiLinker.
                            </li>
                            <li>
                                <b>13.7</b> YiLinker has the sole right to modify the Refund/Return/Replacement procedures or Policy at any time without prior notice.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        14. Faults, DEfects and Non-Conformity of Product
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>14.1</b> The Merchant guarantees that the delivered Products matched the specifications provided on the Product Information and conforms to the applicable law. YiLinker has the right to conduct a quantity and quality check in order to ensure that all Products are free from faults and defects. Products in sealed packages shall not be subject for quality check, however, in the event that any of these sealed Products are found to have faults, defects, and do not conform to its specifications, YiLinker will notify and request Merchant for immediate pull out and replacement.
                           </li>
                           <li>
                               <b>14.2</b> In the event the Product has been detected to be defective, YiLinker reserves the right to remove the Product,, all costs of which shall be covered by the Merchant. Additionally, YiLinker can also make a request to the Merchant to collect all Products and replace them, in which case, all costs will also be covered by the Merchant.
                           </li>
                           <li>
                               <b>14.3</b> In any case, YiLinker has the right to request compensation of any damages incurred from the faults, defects and nonconformity of the Products.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        15. Termination of Agreement
                    </h4>
                    <p>
                        This Agreement shall be in effect from the date signed until one (1) year unless otherwise terminated in accordance with the Terms and Conditions or unless terminated by either Party giving to the other a written notice not less than sixty (60) days prior to the end of Agreement.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        16. Indemnification
                    </h4>
                    <p>
                        Merchant agrees to indemnify and hold YiLinker, including its employees, agents, or representatives, harmless from all claims, losses, expenses, fees including attorney fees, costs, and judgments that may be asserted against the Merchant in any way associated with acts or omissions as follows:
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>16.1</b> Faults, defects and nonconformity on any Product sold to any Buyer;
                           </li>
                           <li>
                               <b>16.2</b> Negligence or faults of the Merchant;
                           </li>
                           <li>
                               <b>16.3</b> Breach in any item warranty provided by the Merchant;
                           </li>
                           <li>
                               <b>16.4</b> Any cause of action arising from the sale contract between the Merchant and the Buyer;
                           </li>
                           <li>
                               <b>16.5</b> Any issues pertaining to intellectual property rights, including, but not limited to, sale of fake products, violations of franchising agreements, violations of exclusivitiy agreements, etc.
                           </li>
                           <li>
                               <b>16.6</b> Any damages caused by the Merchant’s improper use of the Site.
                           </li>
                           <li>
                               <b>16.7</b> Merchant’s violations of government regulations concerning sale, marketing, distribution or any and all retail related laws.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        17. Force Majeure
                    </h4>
                    <p>
                        If performance of this Agreement or any obligation under this Agreement is prevented, restricted, or interfered with by causes beyond either Party’s reasonable control, and if the Party unable to carry out its obligations gives the other Party prompt written notice of such event, then the obligations of the Party invoking this provision shall be suspended to the extent necessary by such event. This provision shall include, without limitation, acts of God, fire, explosion, vandalism, storm or other similar occurrence, orders or acts of military or civil authority, or by national emergencies, insurrections, riots, or wars, or strikes, lock-outs, work stoppages. The excused Party shall use reasonable efforts under the circumstances to avoid or remove such causes of non-performance and shall proceed to perform with reasonable dispatch whenever such causes are removed or ceased. An act or omission shall be deemed within the reasonable control of a party if committed, omitted, or caused by such party, or its employees, officers, agents, or affiliates.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        18. Assignment
                    </h4>
                    <p>
                        Neither Party shall have the right to assign or subcontract any of its obligations or duties under this Agreement without the prior written consent of the other Party, which consent shall not be unreasonably withheld or delayed.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        19. Governing Law &amp; Venue
                    </h4>
                    <p>
                        Merchant agrees to indemnify and hold YiLinker, including its employees, agents, or representatives, harmless from all claims, losses, expenses, fees including attorney fees, costs, and judgments that may be asserted against the Merchant in any way associated with acts or omissions as follows:
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>19.1</b> This Agreement shall be governed by Philippine laws without regard to its conflict of rules. 
                           </li>
                           <li>
                               <b>19.2</b> Both Party submit to the exclusive jurisdiction of the courts of Pasay City for any legal proceeding arising out of or relating to this Contract. Each Party agrees that all claims and matters may be heard and determined in such court and each Party waives any right to object to such filing on venue, forum non-convenient, or similar grounds19
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        20. Cumulative Rights
                    </h4>
                    <p>
                        Any specific right or remedy provided in this Agreement will not be exclusive but will be cumulative of all other rights and remedies.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        21. Compliance with Laws
                    </h4>
                    <p>
                        Each Party shall comply in all respects with all applicable legal requirements governing the duties, obligations, and business practices of that Party and shall obtain any permits or licenses necessary for its operations. Neither Party shall take any action in violation of any applicable legal requirement that could result in liability being imposed on the other Party.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        22. Notices
                    </h4>
                    <p>
                        All notices shall be in writing and shall be delivered personally, by certified or registered mail, postage prepaid, return receipt requested, or by a recognized overnight delivery service. Any notice must be delivered to the Parties at their respective addresses set forth below their signatures or to such other address as shall be specified in writing by either Party according to the requirements of this section. The date that notice shall be deemed to have been made shall be the date of delivery, when delivered personally; on written verification of receipt if delivered by overnight delivery; or the date set forth on the return receipt if sent by certified or registered mail.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        23. Severality
                    </h4>
                    <p>
                        If any provision of this Agreement shall be declared by any court of competent jurisdiction to be illegal, void, or unenforceable, the other provisions shall not be affected but shall remain in full force and effect. 
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        24. Successors &amp; Assigns
                    </h4>
                    <p>
                        This Agreement shall be binding on and inure to the benefit of the Parties hereto and their respective heirs, legal or personal representatives, successors, and assigns.
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        25. Entire Agreement
                    </h4>
                    <p>
                        For the protection of all Parties it is agreed that this Merchant Agreement, together with any annexes or attachments, as may be referred to in this Agreement, shall form the entire agreement between the Parties with respect to its subject matter and constitutes and supersedes all prior agreements, representations and understanding of the parties, written or oral; and that there are no promises, terms, conditions or obligations and no warranties or representations, other than those contained in this Agreement or otherwise required by applicable law.
                    </p>
                </div>

            </div>
        </div>
        <div class="actions">
            <button class="button confirm close uppercase">Okay</button>
        </div>
    </div>
{# END MODAL TERMS AND CONDITIONS MERCHANT #}
