
{# START MODAL TERMS AND CONDITIONS AFFILIATE #}
    <div class="ui modal small" id="modal-terms-conditions">
        <a class="close"><i class="icon-times"></i></a>
        <div class="header">
            <h4 class="no-margin">
                Terms and Conditions for Affiliate
            </h4>
        </div>
        <div class="content">
            <div class="box-container-bordered">
                <p class="text-indent-50">
                    This <b>AFFILIATE AGREEMENT</b> (hereinafter, the “Agreement”) is made and entered into on this by and between <b>YILINKER INC.</b>, with address at <b>6/F Five E-com, Mall of Asia, Pacific Drive, Pasay City</b>, hereinafter called YiLinker; and you, hereinafter called the “Affiliate”, hereinafter collectively referred to as the “Parties”, or each individually as a “Party”, agree as follows:
                </p>
                <br>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        1. Definitions
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>1.1</b><i class="bold">Advertising Media</i> shall refer to the Affiliate’s Website, and other marketing media, such as newsletters and social media, used by the Affiliate for reselling goods and services offered through the Platform, and as authorized by YiLinker.
                           </li>
                           <li>
                               <b>1.2</b><i class="bold">Affiliate Program</i> shall refer to the YiLinker program which authorizes affiliates to resell goods and services offered by Merchants through the Platform.
                           </li>
                           <li>
                               <b>1.3</b><i class="bold">Affiliate’s Website</i> shall refer to the website upon which the Affiliate publishes content for reselling goods and services offered through the Platform.
                           </li>
                           <li>
                               <b>1.4</b><i class="bold">Customer</i> shall refer to a natural person who through the Advertising Media of the Affiliate, purchases goods and services offered through the Platform.
                           </li>
                           <li>
                               <b>1.5</b><i class="bold">EDM</i> shall refer to Electronic or E-mail Direct Marketing.
                           </li>
                           <li>
                               <b>1.6</b><i class="bold">Marks</i> shall refer to the service marks, trademarks, trade names, logos, and trade dress of YiLinker or of a Merchant.
                           </li>
                           <li>
                               <b>1.7</b><i class="bold">Merchant</i> shall refer to the owner of the products or services being offered through the Platform.
                           </li>
                           <li>
                               <b>1.8</b><i class="bold">Platform</i> or <i class="bold">Site</i> shall refer to the online platform provided by YiLinker where goods or services offered and wherein the Affiliate is able to find all necessary information and materials necessary for its participation in the Affiliate Program.
                           </li>
                           <li>
                               <b>1.9</b><i class="bold">SEM</i> shall refer to Search Engine Marketing.
                           </li>
                           <li>
                               <b>1.10</b> <i class="bold">SEO</i> shall refer to Search Engine Optimization.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        2. YiLinker Services
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                                <b>2.1</b> YiLinker shall provide the Platform where Merchants shall upload content regarding the products and services it will sell to the public. Such Platform services include but is not limited to, the following:
                                <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                                    <li>
                                        <b>2.1.2</b> Hosting of content on products as well as other relevant information in the Platform;
                                    </li>
                                    <li>
                                        <b>2.1.2</b> At the option of the Merchant and in accordance with the fees, guidelines, and terms and conditions of YiLinker, hosting of a microsite for the Merchant’s store(s);
                                    </li>
                                    <li>
                                        <b>2.1.3</b> Lease of payment gateways for online payment processing;
                                    </li>
                                    <li>
                                        <b>2.1.4</b> Option for delivery services through YiLinker affiliate companies, with the understanding that the Merchant authorizes YiLinker to negotiate and enter into agreements with various fulfillment and logistics companies for and on its behalf; and
                                    </li>
                                    <li>
                                        <b>2.1.5</b> Marketing support.
                                    </li>
                                </ul>
                           </li>
                           <li>
                               <b>2.2</b> YiLinker shall provide the Platform for the Affiliate Program but only for the purposes of re-selling the products and services of the Merchants.
                           </li>
                           <li>
                               <b>2.3</b> YiLinker shall have the authority from each Merchant to allow the Affiliate to resell the goods and services through its Advertising Media, and the use of each Merchant’s Marks for that purpose.
                           </li>
                           <li>
                               <b>2.4</b> YiLinker shall provide the Affiliate with advertising materials, which shall be adapted as deemed necessary by YiLinker for products and services. The Affiliate may request individual provision of formats or newsletter templates from YiLinker at any time.
                           </li>
                           <li>
                               <b>2.5</b> All activities of the Affiliate shall be logged via the Platform’s tracking system and made accessible to the Affiliate via the Platform’s statistics and reports. The commission that YiLinker pays to the Affiliate once a month shall be based on the net markup price of the products or services.
                           </li>
                           <li>
                               <b>2.6</b> The Affiliate shall, in the context of its participation in the Affiliate Program and in accordance with this Agreement, be entitled to receive a commission from YiLinker in relation to transactions that are generated, by its direct and active promotion of the products or services of the Merchants through its Advertising Media, within the first session and for thirty (30) days thereafter.
                           </li>
                           <li>
                               <b>2.7</b> For the promotion and successful brokerage of transactions for products or services through the Platform, the Affiliate shall receive the appropriate commission subject to this Agreement.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        3. Affiliate Obligations
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>3.1</b> The Affiliate is only allowed to use advertising materials in its Advertising Media, as approved by YiLinker.  The Affiliate shall be expressly prohibited from using advertising materials other than those made available by Yilinker via the Platform, and from modifying advertising material without prior written authorization of Yilinker.
                            </li>
                            <li>
                                <b>3.2</b> The Affiliate shall not, without prior written consent by YiLinker, be allowed to use advertising e-mails such as Electronic Direct Mail (EDM) to promote YiLinker.
                            </li>
                            <li>
                                <b>3.3</b> The Affiliate shall ensure that all email addresses were acquired or procured in accordance with all applicable law, and through double opt-in consent by their respective owners, with consideration of all necessary restrictions. YiLinker shall be free of all third-party requirements and liability with regard to the transmission of any email or material by the Affiliate to such email addresses. The Affiliate acknowledges and agrees that they bear full responsibility concerning the acquisition or procurement of such email addresses, or the transmission of any email or material to such email addresses. The Affiliate is not allowed to use the brand “YiLinker”, or any of the Marks of YiLinker or a Merchant, directly or indirectly, with the email or material transmitted to such email addresses. The Affiliate shall ensure that it is clear that the e-mail comes from the Affiliate and not from YiLinker. Notwithstanding the foregoing, All such email or material to be transmitted by the Affiliate requires the approval of YiLinker before its transmission.
                            </li>
                            <li>
                                <b>3.4</b> The Affiliate itself shall be responsible for the content and routine operation of the Affiliate’s Website and shall, for the term of this Agreement, place no content on said Website without YiLinker’s consent and none that breaches any applicable law, public morals or third-party rights. Prohibitions shall include, but not be limited to, representations that glorify violence, sexual and pornographic content and illustrations, misleading statements or discriminatory content (e.g. in respect of gender, race, politics, religion, nationality or disability). Such content may neither be mentioned on the Affiliate’s Website, nor may links be created from the Affiliate’s Website to corresponding content on other websites. The Affiliate’s Website shall not conduct, undertake, use, perform, exercise, or deal in, torrent or streaming activities.
                            </li>
                            <li>
                                <b>3.5</b> The Affiliate shall be prohibited from maintaining on the Internet, websites that may, directly or indirectly give rise to a risk of confusion with the web presence of YiLinker. The Affiliate shall neither be allowed to mirror said presence nor to copy graphics, texts or other content from YiLinker website. It is strictly prohibited to crawl any of YiLinker’s webpages. In particular, the Affiliate shall avoid creating the impression that the Affiliate’s Website is a project of YiLinker or that its operator is economically linked to YiLinker in any way that goes beyond the Affiliate Program and this Agreement. Any use, by the Affiliate, of materials or content from YiLinker’s web presence or its logos or brands shall require YiLinker’s prior written approval.
                            </li>
                            <li>
                                <b>3.6</b> The Affiliate shall ensure that its advertising e-mails are in neither direct nor indirect breach of domestic and/or foreign third-party property rights and/or other rights that do not enjoy any special statutory protection.
                            </li>
                            <li>
                                <b>3.7</b> It is strictly prohibited to drive SEM and other keyword-based advertising traffic to the Platform. SEM and other keyword-based advertising driving traffic to the Affiliate’s Website should exclude the YiLinker brand and private labels; in other words, "yilinker" shall be entered as a negative keyword for such activities. In the event of a breach of this provision, YiLinker is free to cancel the Affiliate’s Commission corresponding to the Affiliate’s total amount of sales corresponding to the thirty (30) day period, at the option of YiLinker, before or after the breach occurred.
                                <br><br>
                                Site links in Google AdWord advertisements may be entered in connection with YiLinker only if they refer to a landing page of the Affiliate’s Website on which YiLinker is exclusively promoted. Site links may expressly not be placed on the YiLinker brand or on misspellings or generic terms related to the YiLinker product range, nor shall direct forwarding from within the Google advertisement be permitted. Product lists within Google Shopping product search shall be expressly prohibited. Any other kind of Google products are prohibited (e.g. GDN).
                            </li>
                            <li>
                                <b>3.8</b> Advertising YiLinker through social media activities (e.g. Facebook, Pinterest, Twitter, etc.) is granted upon request and should not include any trademarks of YiLinker, display misleading content (i.e. that may look like official YiLinker social media activities), or any prohibited content as enumerated in Section 3.4 of this Agreement.
                            </li>
                            <li>
                                <b>3.9</b> The Affiliate shall not, without prior written consent by YiLinker, be allowed to conduct, undertake, use, perform or exercise SEO. SEO activities can be carried out only upon request of YiLinker and supported by the YiLinker SEO team.
                            </li>
                            <li>
                                <b>3.10</b> The Affiliate shall not set up campaigns on third party affiliate networks. The Affiliate shall only direct its traffic to the Platform.
                            </li>
                            <li>
                                <b>3.11</b> he Affiliate shall not drive mobile or incentivized traffic to the Platform.
                            </li>
                            <li>
                                <b>3.12</b> The Affiliate warrants that it will set cookies only if advertising material made available through the Affiliate Program is in visible use on the Affiliate’s Website and the user Clicks voluntarily and consciously. The use of layers, add-ons, iFrames, pop-up, pop-under, site-under, cookie dropping and postview technology shall not be permitted and strictly prohibited.
                            </li>
                            <li>
                                <b>3.13</b> The use of any method or scheme of competition or game of chance is strictly prohibited.
                            </li>
                            <li>
                                <b>3.14</b> The Affiliate may only utilize vouchers or promotional material or methods that YiLinker has approved explicitly for affiliates and/or communicated by written means or  through Affiliate Program newsletters. The promotion of other vouchers, for instance from third party newsletters, print advertisements, customer service contacts or any voucher codes obtained without the prior written approval by YiLinker, shall be deemed an abuse of the Affiliate Program. The Affiliate acknowledges and agrees that such abuse constitutes a material breach of the contract for which YiLinker reserves the right to withhold all payments to the Affiliate, demand reimbursement for any Commission paid to the Affiliate arising, directly or indirectly to such breach, and to terminate this contract with immediate effect.
                            </li>
                            <li>
                                <b>3.15</b> The Affiliate shall remove YiLinker advertising material without delay from the Affiliate’s Website if YiLinker requests it to do so.
                            </li>
                            <li>
                                <b>3.16</b> The Affiliate shall perform its obligations under this Agreement in compliance with the terms and conditions, and the policies of the Platform, and such other terms as YiLinker may provide.
                            </li>
                            <li>
                                <b>3.17</b> During the term of this Agreement, and within twenty four (24) months from its expiration or termination, the Affiliate shall not enter into any similar arrangement or agreement with any entity providing services similar to YiLinker or to the Platform.
                            </li>
                            <li>
                                <b>3.18</b> Any culpable violation or infringement, by the Affiliate, of the foregoing Sections 3.1 to 3.17 of this Agreement, or any other industrial property rights or copyright of YiLinker shall entitle YiLinker to terminate this Agreement for good cause, the denial of any commission due, and any other relief to which YiLinker may be entitled under the particular circumstances. This shall not affect any additional claims against the Affiliate to which YiLinker is entitled. In particular, YiLinker shall be entitled to withhold or cease any and all services provided or related to the Affiliate.
                            </li>
                            <li>
                                <b>3.19</b> If YiLinker, or any of its subsidiaries, affiliates, partners, directors, officers, employees, agents, representatives, successors, and assigns, is sued by third parties on account of the Affiliate's breach of contractual obligations, particularly those set forth in the foregoing Sections 3.1 to 3.17 of this Agreement, or on account of the Affiliate's violation of a statutory provision in relation to the placement of YiLinker advertising material, the Affiliate shall indemnify YiLinker, or any of its subsidiaries, affiliates, partners, directors, officers, employees, agents, representatives, successors, and assigns, against all third-party claims, including, but not limited to, labor claims and claims of libel and copyright infringement, actions, damages, and losses, liabilities, and expenses, including reasonable attorney’s fees, that are asserted on account of the aforementioned breaches. If, for its legal defense, YiLinker requires the Affiliate to provide information or explanations, the Affiliate shall be obliged to make the same available to YiLinker without delay and also to provide reasonable support to YiLinker in its legal defense.
                                <br><br>
                                In addition, the Affiliate shall compensate YiLinker for any costs resulting from a claim by third parties on account of the infringement of the aforementioned rights and/or obligations; such costs shall without limitation, include lawyers' fees, court costs, particularly costs of independent proceedings for taking evidence, damages and other disadvantages that YiLinker suffers thereby.
                                <br><br>
                                Any infringement of this Section 3.19 shall entitle YiLinker to terminate the Affiliate's account and cancel all generated transactions.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        4. Parties to the Sale
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>4.1</b> The Parties acknowledge and agree that the contracts of sale for products or services sold through the Platform are contracts of sale between the Customer and the Merchant, and that Yilinker is not privy to such contract. As such, Yilinker:
                                <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                                    <li>
                                        <b>4.1.1</b> Is merely an intermediary through which Merchant displays its products or services through the Platform;
                                    </li>
                                    <li>
                                        <b>4.1.2</b> Is merely a provider of platform services with which the Merchant uploads content pertaining to its products or services;
                                    </li>
                                    <li>
                                        <b>4.1.3</b> Does not warrant merchantability of products or services sold by the Merchant through the Platform; and
                                    </li>
                                    <li>
                                        <b>4.1.4</b> Shall be held free and harmless by the Merchant and the Affiliate from any and all liabilities accruing due to the sale of the products or services and those arising from the contents and product information it uploads to the Platform.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        5. Affiliate Tools
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>5.1</b> Yilinker shall provide the Affiliate with an Account to access the Platform’s tracking system via the Platform’s statistics and reports.
                            </li>
                            <li>
                                <b>5.2</b> The Affiliate is solely responsible for the security of its Account. The Affiliate shall not disclose any information regarding its Account, unless otherwise authorized by Yilinker and in accordance with this Agreement.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        6. Customer Service
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>6.1</b> The Affiliate shall provide Customers it directed to the Platform through its Advertising Media with initial customer support. This first level of support shall be conducted by the Affiliate through the appropriate mechanism on the Affiliate’s Website or through email correspondence with the affected Customer. The Affiliate shall exercise all commercially reasonable efforts to resolve the Customer’s concern. Should the Affiliate be unable to resolve the Customer’s concern, the Affiliate shall escalate the concern to the Merchant or YiLinker.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        7. Payment
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>7.1</b> The Affiliate can login to the Platform to view its accumulated commission one (1) hour after conversions are made.
                            </li>
                            <li>
                                <b>7.2</b> The Affiliate acknowledges and agrees that YiLinker reserves a lead time of thirty (30) days to validate the status of monthly tracked sales for matters such as, but not limited to, returns, refunds, or replacements of products.
                            </li>
                            <li>
                                <b>7.3</b> The Affiliate will be paid its commission within thirty (30) days after YiLinker has validated the status of monthly tracked sales.
                            </li>
                            <li>
                                <b>7.4</b> YiLinker reserves the right to deduct Fifty Pesos (PhP50.00) from any commission due to the Affiliate for each good/product or service as a bank transaction fee for any payment below Five Thousand (PhP5,000.00) for such good/product or service.  The Affiliate has the right to accumulate all existing commission that it has until it decides on when to cash-out.
                            </li>
                            <li>
                                <b>7.5</b> All payment made from YiLinker to the Affiliate will be, at YiLinker’s sole discretion, in the form of direct bank transfer or wire transfer through an entity chosen by YiLinker.
                            </li>
                            <li>
                                <b>7.6</b> YiLinker reserves the right to change or alter the payment terms in this Article 7 of this Agreement, the first day of any month. In such a case, a notice shall be posted on the Platform, and an email shall be sent to the Affiliate, based on the email address provided by the Affiliate through the Affiliate Program. Notification shall occur at least four (4) weeks prior to any change. YiLinker shall have no responsibility to ensure that communications about changes in the payment terms are received by the Affiliate. In case of disagreement, the Affiliate’s sole recourse shall be to end its participation in the Affiliate Program.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        8. Term and Termination
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                            <li>
                                <b>8.1</b> The term of this Agreement shall be based on the duration of the Affiliate's membership in the Affiliate Program.
                            </li>
                            <li>
                                <b>8.2</b> Following termination of the Agreement for any cause, the Affiliate shall, without being requested to do so, immediately delete all information and advertising material provided to it. The Affiliate shall have no right of retention in this respect. The Affiliate shall, at YiLinker request, provide YiLinker with written confirmation of such deletion.
                            </li>
                            <li>
                                <b>8.3</b> YiLinker reserves the right, at its sole discretion and for any cause, to change or terminate this Agreement on the first day of any month, with four (4) weeks prior notice to the Affiliate. The Affiliate acknowledges and agrees that YiLinker shall have no responsibility to ensure that communications about such change or termination are received by the Affiliate.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        9. Copyrights and Trademarks
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>9.1</b> The Affiliate may use the Marks solely during the term of this Agreement and solely as necessary to perform the obligations described herein. Any use of the Marks shall be subject to YiLinker’s right to review and approve or reject in advance each proposed use of the Mark. Any rights not expressly licensed herein are reserved by YiLinker, and all use by the Affiliate shall accrue to the benefit of YiLinker. The Affiliate shall not take any action that would conflict with or be contrary to YiLinker’s rights and interest in its Marks, including without limitation: (i) asserting any ownership interests in or contesting the validity of the Marks, (ii) registering or causing to be registered the Marks or any trademarks, marks or trade names confusingly similar to the Marks, or (iii) using the Marks in any manner that is likely to cause confusion, mistake, or deception. The Affiliate shall reproduce all copyright, trademark and other notices on any copies of the YiLinker advertising materials provided for, or created or distributed by the Affiliate. YiLinker is the sole and exclusive owner of its Marks.
                           </li>
                           <li>
                               <b>9.2</b> Except as expressly provided herein, no license is granted under this Agreement to use or access the Platform, any of YiLinker’s proprietary technologies embodied therein, or any data, information or other content provided thereby. As between YiLinker and the Affiliate, YiLinker retains all right, title and interest in and to the Platform and all technology, data, information or other content embodied therein or provided thereby, as well as any intellectual property rights or similar rights in connection therewith, and the Affiliate neither owns nor acquires any rights in or to the Platform. Any rights not expressly granted herein are reserved by YiLinker.
                           </li>
                           <li>
                               <b>9.3</b> The Affiliate shall not copy, modify, create a derivative work of, or reverse engineer, reverse assemble, disassemble, or decompile any part of the Platform, or otherwise attempt to discover any source code, modify the Platform, or any software associated or related therewith, in any manner or form, or use unauthorized modified versions of the Platform, including, but not limited to, for the purpose of building a similar or competitive platform or product, or for the purpose of obtaining unauthorized access to the Platform.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        10. Limitation of Liability
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>10.1</b> THE AFFILIATE ACKNOWLEDGES AND AGREES THAT THE PLATFORM IS PROVIDED BY YILINKER ON AN AS-IS-AND-AS-AVAILABLE BASIS. YILINKER EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT RELATED TO THE PLATFORM OR THE PRODUCTS THEREIN. YILINKER MAKES NO WARRANTY THAT THE PLATFORM WILL BE UNINTERRUPTED, TIMELY, SECURE, OR VIRUS FREE. USE OF ANY MATERIAL OR PRODUCT DOWNLOADED OR OBTAINED THROUGH THE USE OF THE PLATFORM SHALL BE AT THE DISCRETION OF THE CUSTOMER OR THE AFFILIATE AND BOTH SHALL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO THEIR COMPUTER SYSTEM, MOBILE TELEPHONE, WIRELESS DEVICE OR DATA THAT RESULTS FROM THE USE OF THE PLATFORM OR THE DOWNLOAD OF ANY SUCH MATERIAL. NO ADVICE OR INFORMATION, WHETHER WRITTEN OR ORAL, OBTAINED BY THE AFFILIATE FROM YILINKER, ITS EMPLOYEES OR REPRESENTATIVES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE AGREEMENT.
                           </li>
                           <li>
                               <b>10.2</b> THE AFFILIATE ACKNOWLEDGES AND AGREES THAT YILINKER SHALL, IN NO EVENT, BE LIABLE TO THE AFFILIATE (OR ANY THIRD PARTY CLAIMING THROUGH THE AFFILIATE VIA INDEMNITY OR OTHERWISE) FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, SPECIAL, PUNITIVE, OR OTHER LOSS OR DAMAGE WHATSOEVER OR FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, COMPUTER FAILURE, LOSS OF BUSINESS INFORMATION, OR OTHER LOSS ARISING OUT OF OR CAUSED BY THE USE OF OR INABILITY TO USE THE PLATFORM, EVEN IF YILINKER HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IN NO EVENT SHALL YILINKER’S ENTIRE LIABILITY UNDER THE AGREEMENT EXCEED THE TOTAL AMOUNT OF COMMISSION PAID BY YILINKER TO THE AFFILIATE UNDER THESE TERMS AND CONDITIONS IN THE ONE (1) MONTH PRIOR TO THE ACTION GIVING RISE TO SUCH LIABILITY.
                           </li>
                           <li>
                               <b>10.3</b> The aforementioned limitations of liability shall also apply to the liability of YiLinker’s subsidiaries, affiliates, partners, directors, officers, employees, agents, representatives, successors, and assigns.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        11. Force Majeure
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>11.1</b> If performance of this Agreement or any obligation under this Agreement is prevented, restricted, or interfered with by causes beyond either Party’s reasonable control, and if the Party unable to carry out its obligations gives the other Party prompt written notice of such event, then the obligations of the Party invoking this provision shall be suspended to the extent necessary by such event. This provision shall include, without limitation, acts of God, fire, explosion, vandalism, storm or other similar occurrence, orders or acts of military or civil authority, or by national emergencies, insurrections, riots, or wars, or strikes, lock-outs, work stoppages. The excused Party shall use reasonable efforts under the circumstances to avoid or remove such causes of non-performance and shall proceed to perform with reasonable dispatch whenever such causes are removed or ceased. An act or omission shall be deemed within the reasonable control of a party if committed, omitted, or caused by such party, or its employees, officers, agents, or affiliates.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        12. Assignment
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>12.1</b> The Affiliate shall not assign or subcontract any of its obligations or duties under this Agreement without the prior written consent of YiLinker.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        13. Relationship to the Parties
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>13.1</b> Yilinker is a service provider under this Agreement. The Affiliate is not considered an agent, employee or representative of YiLinker.
                           </li>
                           <li>
                               <b>13.2</b> In all matters relating to this Agreement each Party hereto shall be solely responsible for the acts of its employees and agents, and employees or agents of one Party shall not be considered employees or agents of the other Party. Except as otherwise provided herein, no Party shall have any right, power, or authority to create any obligation, express or implied, on behalf of any other party. Nothing in this Agreement is intended to create or constitute a joint venture, partnership, agency, trust, or other association of any kind between the Parties or persons referred to herein.
                           </li>
                        </ul>
                    </p>
                </div>
                <div class="mrg-bt-30">
                    <h4 class="mrg-bt-20">
                        14. General Provisions
                    </h4>
                    <p>
                        <ul class="list-unstyled pd-left-40 mrg-top-20 mrg-bt-20">
                           <li>
                               <b>14.1</b> <i class="bold">Governing Law and Venue.</i> This Agreement shall be governed by Philippine laws without regard to its conflict of rules. Both Parties shall submit to the exclusive jurisdiction of the courts of Pasay City, to the exclusion of all other venues, for any legal proceeding arising out of or relating to this Agreement. Each Party agrees that all claims and matters may be heard and determined in such court and each Party waives any right to object to such filing on venue, forum non-conveniens, or similar grounds.
                           </li>
                           <li>
                               <b>14.2</b> <i class="bold">Cumulative Rights.</i> Any specific right or remedy provided in this Agreement will not be exclusive but will be cumulative of all other rights and remedies.
                           </li>
                           <li>
                               <b>14.3</b> <i class="bold">Legal Compliance.</i> Each Party shall comply in all respects with all applicable legal requirements governing the duties, obligations, and business practices of that Party and shall obtain any permits or licenses necessary for its operations. Neither Party shall take any action in violation of any applicable legal requirement that could result in liability being imposed on the other Party.
                           </li>
                           <li>
                               <b>14.4</b> <i class="bold">Notices.</i> All notices shall be in writing and shall be delivered personally, by certified or registered mail, postage prepaid, return receipt requested, or by a recognized overnight delivery service. Any notice must be delivered to the Parties at their respective addresses set forth below their signatures or to such other address as shall be specified in writing by either Party according to the requirements of this section. The date that notice shall be deemed to have been made shall be the date of delivery, when delivered personally; on written verification of receipt if delivered by overnight delivery; or the date set forth on the return receipt if sent by certified or registered mail.
                           </li>
                           <li>
                               <b>14.5</b> <i class="bold">Severability.</i> If any provision of this Agreement shall be declared by any court of competent jurisdiction to be illegal, void, or unenforceable, the other provisions shall not be affected but shall remain in full force and effect.
                           </li>
                           <li>
                               <b>14.6</b> <i class="bold">Successors and Assigns.</i> This Agreement shall be binding on and inure to the benefit of the Parties hereto and their respective heirs, legal or personal representatives, successors, and assigns.
                           </li>
                           <li>
                               <b>14.7</b> <i class="bold">Entire Agreement.</i> For the protection of all Parties it is agreed that this Merchant Agreement, together with any annexes or attachments, as may be referred to in this Agreement, shall form the entire agreement between the Parties with respect to its subject matter and constitutes and supersedes all prior agreements, representations and understanding of the parties, written or oral; and that there are no promises, terms, conditions or obligations and no warranties or representations, other than those contained in this Agreement or otherwise required by applicable law.
                           </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="actions">
            <button class="button confirm close uppercase">Okay</button>
        </div>
    </div>
{# END MODAL TERMS AND CONDITIONS AFFILIATE #}
