<div class="overall-progress hidden">
  <div class="title-bar">
    <div class="component-content">
      <span class="uppercase">Progress Overview</span>
    </div>
  </div>

  <div class="ui teal progress sub-progress-bar" data-value="1" data-total="3">
    <div class="bar"></div>
    <div class="label"></div>
  </div>
  <p class="tracker"><span>requirements are already completed</span></p>
</div>

<div class="faq">
  <div class="title-bar">
    <div class="component-content">
      <span class="uppercase">Frequently Ask Questions</span>
    </div>
  </div>

  <div class="ui accordion">
    <div class="title">
      <i class="dropdown icon"></i>
      Why are you asking for my bank info?
    </div>
    <div class="content">
      <p class="transition hidden">This is where YiLinker will send your payouts/commissions for successful transactions.</p>
    </div>
    <div class="title">
      <i class="dropdown icon"></i>
      Can i change my bank information later?
    </div>
    <div class="content">
      <p>Yes, but you'll have to contact our Customer Support for additional assistance.</p>
    </div>
  </div>
</div>
{#
<div class="contactus">
  <div class="title-bar">
    <div class="component-content">
      <span class="uppercase">Contact Us</span>
    </div>
  </div>
  <div class="content">
    <p class="hotline"><i class="icon icon-contact"></i> 324-8684</p>
    <p class="email"><i class="icon icon-envelope"></i> <a href="mailto:costumer.support@yilinker.com">costumer.support@yilinker.com</a></p>
    <p class="address"><i class="icon icon-home"></i> 645 Lafayette Street, <br>New Milford, CT 06776</p>
  </div>
</div>
#}
