<!-- Modal Product Listing -->
<div class="ui modal large modal-box modal-product-listing show-on">
</div>

<div class="ui modal large modal-box modal-product-description">

    <a class="close">
        <i class="icon-times"></i>
    </a>
  
    <div class="header">
        <h5 class="light-color light">Product Description</h5>    
    </div>
    
   <div class="ui content">
   </div>
</div>


