<div class="box-div">
  <div class="row gutters group-segment">
    <div class="col-md-12">
      <h4>
        Customized Webview
      </h4>

      <div class="tabular-inside segment">
        <div class="ui tabular menu">
          <div class="item main-tab active" data-tab="tab-name0">
            <a href="#">Daily Present</a>
          </div>
        </div>
      </div>

      <div class="ui tab row active" data-tab="tab-name0">

        <div class="row gutters group-segment">
          <h5 class="mrg-bt-20 mrg-top-10">Custom Messages</h5>
          <div class="col-md-12">
            <div class="form">
              <label>
                Success Check-in
              </label>
              <textarea class="form-ui"></textarea>
            </div>
            <div class="form">
              <label>
                Recurring Check-in
              </label>
              <textarea class="form-ui"></textarea>
            </div>

            <div class="form">
              <label>
                Mechanics
              </label>
              <textarea class="form-ui"></textarea>
            </div>
          </div>
        </div>

        <div class="row gutters group-segment">
          <h5 class="mrg-bt-20 mrg-top-10">Inner Banners</h5>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5">
                <img src="#">
              </div>
              <div class="col-md-7">
                <div class="form">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Upload Banner</label>
                      <label class="light" for="">Select your Banner Permit file from your computer</label>
                      <input class="form-ui disabled" name="banner" type="file">
                      <span class="form-ui-note">Compatible files: JPEG, PNG and PDF</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <img src="#">
              </div>
              <div class="col-md-7">
                <div class="form">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Upload Banner</label>
                      <label class="light" for="">Select your Banner Permit file from your computer</label>
                      <input class="form-ui disabled" name="banner" type="file">
                      <span class="form-ui-note">Compatible files: JPEG, PNG and PDF</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <img src="#">
              </div>
              <div class="col-md-7">
                <div class="form">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Upload Banner</label>
                      <label class="light" for="">Select your Banner Permit file from your computer</label>
                      <input class="form-ui disabled" name="banner" type="file">
                      <span class="form-ui-note">Compatible files: JPEG, PNG and PDF</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
