<div class="breadcrumb-container">
    <div class="ui large breadcrumb">
        <a class="section">All</a>
        <i class="icon icon-angle-right divider"></i>
        <a class="section">Electronics</a>
        <i class="icon icon-angle-right divider"></i>
        <div class="active section">Mobile Phones</div>
    </div>
    
</div>
<h4 class="search-string">"Television" <span class="small-font light-color normal">1434 products found</span></h4>
<div class="header-control mobile-hide">
    <div class="row">
        <div class="col-md-8">
            <div class="table-display">
                <div class="table-cell bold" style="width:60px">Sort by : </div>
                <div class="table-cell">
                    <span class="sort-item active">
                        Relevance
                    </span>
                    <span class="sort-item">
                        New to Old
                    </span>
                    <span class="sort-item">
                        Old to New
                    </span>
                    <span class="sort-item">
                        Alphabetical
                    </span>
                    <span class="sort-item">
                        Popularity
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="table-display view-table">
                <div class="table-cell bold" style="width:60px">
                    View by : 
                </div>
                <div class="table-cell">
                    <span class="sort-item active" id="gridView">
                        <i class="icon icon-grid-view"></i>
                    </span>
                    <span class="sort-item" id="listView">
                        <i class="icon icon-list-view"></i>
                    </span> 
                </div>
            </div>
        </div>
    </div>
</div>