<div class="filter-wrapper ui sticky mobile-hide">
    <div class="filter-group">
        <div class="title-bar">
            <span class="title-name">
                Category
            </span>
        </div>
        <div class="filter-control mrg-top-20">
            <ul class="list-category">
                <li>
                    <a href="#">Clothes &amp; Accessories <i class="icon icon-angle-right pull-right"></i></a>
                </li>
                <li>
                    <a href="#">Electronics <i class="icon icon-angle-right pull-right"></i></a>
                </li>
                <li>
                    <a href="#">Health &amp; Beauty <i class="icon icon-angle-right pull-right"></i></a>
                </li>
                <li>
                    <a href="#">Garden <i class="icon icon-angle-right pull-right"></i></a>
                </li>
                <li>
                    <a href="#">Appliances <i class="icon icon-angle-right pull-right"></i></a>
                </li>
                <li>
                    <a href="#">Computers <i class="icon icon-angle-right pull-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="filter-group">
        <div class="title-bar">
            <span class="title-name">
                Price
            </span>
        </div>
        <div>
            <div class="price-range-container">
                <input data-product-search="priceRange" data-min="{{ filterMetaData.minPrice|round }}" data-max="{{ filterMetaData.maxPrice|round }}" id="priceRange" type="text" value="" />
            </div>
        </div>
    </div>
    <div class="filter-group">
        <div class="title-bar">
            <span class="title-name">
                Sub-Category
            </span>
        </div>
        <div class="filter-control">
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">All</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Swimming Goggles</label>
            </div>
        </div>
    </div>
    <div class="filter-group">
        <div class="title-bar">
            <span class="title-name">
                Brand
            </span>
        </div>
        <div class="filter-control">
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Penshoppe</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Bench</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">UniQLo</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">F21</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Memo</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Nike</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Under Armour</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Adidas</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Accel</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Reebok</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" /><label for="">Oxygen</label>
            </div>

        </div>
    </div>
</div>