
<div id="success-default-modal" class="ui modal tiny success-default-modal">
    <div class="content align-center">
        <h4 class="ui header">
            <i class="icon "></i>
            <div id="success-default-modal-action-message" class="content">
            </div>
        </h4>
    </div>
    <div class="actions">
        <button class="button blue uppercase close">Okay</button>
    </div>
</div>

<div id="confirm-default-modal" class="ui modal tiny confirm-default-modal">
    <div class="content align-center">
        <h4 class="ui header">
            <i class="icon icon-question-circle"></i>
            <div id="confirm-default-modal-action-message" class="content">
            </div>
        </h4>
    </div>
    <div class="actions">
        <button class="button gray uppercase close cancel"></button>
        <button class="button blue uppercase approve">
            <div style="display:none" class='ui active centered small inline inverted loader'>&nbsp;</div>
            <span class="text"></span>
        </button>
    </div>
</div>

