<div class="category-set">
  <div class="category-body-wrapper">
	<div class="advertisement">
	  <div class="row">
		<div class="col-md-6">
		  <a href="{{ cmsContent.header.banner[0].target }}">
		    <img src="{{ asset(cmsContent.header.banner[0].image, 'cms') }}" alt="" class="img-responsive">
		  </a>
		</div>
		<div class="col-md-6">
		  <a href="{{ cmsContent.header.banner[1].target  }}">
		    <img src="{{ asset(cmsContent.header.banner[1].image, 'cms') }}" alt="" class="img-responsive">
		  </a>
		</div>
	  </div>
	</div>
  </div>
</div>
