<nav class="menu col-md-3 div-equal">
    <div class="profile">
        <img align="left" border="0" src="http://www.buggl.com/uploads/profile_pics/27f8dfbed30d3f27fe9d6613486dd286cc587011.jpeg" width="48">
        <p>
            <span>Janvan Valleramos</span>
            <select class="ui single selection dropdown">
                <option value="0">Online</option>
                <option value="1">Busy</option>
                <option value="2">Offline</option>
            </select>
        </p>
    </div>
    <div class="sidebar sidebar-wrapper">
        <ul class="cd-accordion-menu animated">
            <li class="has-children">
                <input checked id="group-1" name="group-1" type="checkbox">
                <label for="group-1">
                    <span class="item-icon icon-user mrg-rt-10"></span>
                    Queued CSR <span class="num">3</span></label>
                <ul>
                    <li>
                        <a class="online" href="#0">
                            <span class="person">Aaron Denice</span>
                            <span class="tag">2/5</span>
                        </a>
                    </li>
                    <li>
                        <a class="busy" href="#0">
                            <span class="person">Vincento Tambao</span>
                            <span class="tag">2/5</span>
                        </a>
                    </li>
                    <li>
                        <a class="offline" href="#0">
                            <span class="person">Tony Gonzaga</span>
                            <span class="tag">2/5</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <input id="group-2" name="group-2" type="checkbox">
                <label for="group-2">
                    <span class="item-icon icon-messages mrg-rt-10"></span>
                    Waiting Tickets <span class="num">130</span></label>
                <ul>
                    <li>
                        <a href="#0">Image</a>
                    </li>
                    <li>
                        <a href="#0">Image</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <input id="group-3" name="group-3" type="checkbox">
                <label for="group-3">
                    <span class="item-icon icon-contact mrg-rt-10"></span>
                    Open Tickets <span class="num">40</span></label>
                <ul>
                    <li>
                        <a href="#0">Image</a>
                    </li>
                    <li>
                        <a href="#0">Image</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <input id="group-4" name="group-4" type="checkbox">
                <label for="group-4">
                    <span class="item-icon icon-checkmark mrg-rt-10"></span>
                    Closed Tickets <span class="num">78</span></label>
                <ul>
                    <li>
                        <a href="#0">Image</a>
                    </li>
                    <li>
                        <a href="#0">Image</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
