{% extends 'YilinkerFrontendBundle:Base:base.html.twig' %}

{% block title %}
    View More Template
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="search-page view-more">
        <div class="wrapper-outer">
            <div class="search-body-wrapper">
                {{ include('YilinkerFrontendBundle:ViewMore:seller_list.html.twig') }}
                <div class="align-center mrg-top-20">
                    {{
                        include('YilinkerCoreBundle:Default:pagination.html.twig', {
                            totalResults: 100, 
                            perPage: 24
                        }) 
                    }}
                </div>
                
            </div>

            {{ render_esi(controller('YilinkerFrontendBundle:Home:renderFooter')) }}
        </div>

    </div>
    <div class="clear"></div>
{% endblock %}
{% block javascripts %}
    
{% endblock %}
