<div class="top-banner-container">
    <div class="merchant-cover-photo-wrapper small">
         <img src="{{ asset('images/merchant-cover-default.jpg') }}" id="default-merchant-cover" alt="">
    </div>
    <div class="store-menu-top-banner small">
        <div class="row">
            <div class="col-xs-3">
                <table class="table-seller-name">
                    <thead>
                        <tr>
                            <td class="td-seller-img align-center">
                                <a href="#">
                                    <div class="img-seller-container">
                                        <img src="{{ asset('images/seller-img-1.jpg') }}" class="img-seller img-round" />
                                    </div>
                                </a>
                            </td>
                            <td class="td-seller-name">
                                <span class="name">
                                    <a href="#" class="white-color">
                                        Beats Audio Store
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-xs-6">
                <div class="store-menu-header align-center">
                    <ul class="list-unstyled list-store-menu">
                        <li>
                            <a href="#" class="active">Products</a>
                        </li>
                        <li>
                            <a href="#">Store Information</a>
                        </li>
                        <li>
                            <a href="#">Feedbacks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3 align-right">
                <i class="icon icon-circle-search icon-4x open-search-form-trigger"></i>
            </div>
        </div>
    </div>
</div>